<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishLearningApp">
        <activity android:name=".Activity.BaiTapNoiActivity" />
        <activity android:name=".Activity.BaiTapVietActivity" />
        <activity android:name=".Activity.LichSuLamBaiActivity" />
        <activity android:name=".Activity.TestResultActivity" />
        <activity android:name=".Activity.BaiTapDocActivity"/>
        <activity android:name=".Activity.DangNhapActivity" />
        <activity android:name=".Activity.LessonVocabularyActivity"/>
        <activity android:name=".Activity.DangKyActivity" />
        <activity android:name=".Activity.KetQuaActivity"/>
        <activity android:name=".Activity.ChiTietBaiTapActivity" />
        <activity android:name=".Activity.BaiTapNgheActivity" />
        <activity android:name=".Activity.BaiHocActivity" />
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.NguPhapActivity"/>
        <activity
            android:name=".Activity.ManHinhChoActivity"
            android:exported="true"
            android:theme="@style/Theme.EnglishLearningApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>